.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-link {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 10px;

  width: 29%;
  margin: 10px;

  -webkit-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);

  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(107%);
  }
}

.photo-card img {
  border-radius: 10px;
  width: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  & .info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & .info-item:not(:last-child) {
    margin-right: 15px;
  }
}
