.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 29%;
  margin: 10px;

  -webkit-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.75);
}

.photo-card img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  & .info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & .info-item:not(:last-child) {
    margin-right: 15px;
  }
}
